<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">

	<!-- 조회(selectBoard) -->
	<select id="selectList" resultType="Board">  <!-- 전체조회라 매개변수 없음. -->  <!-- 아이디값은 BoardMapper.java에 정의해 둔 메소드이름과 동일해야함. -->
		select * from tbl_board
	</select>
	

	<!-- 페이징 조회 -->
	<select id="selectListWithPaging" parameterType="Search" resultType ="Board">
		select b.*
        from (select rownum rn, a.*
              from (select *
                    from tbl_board
                    <choose>
                    	<when test="searchCondition != null and searchCondition == 'T'.toString()">
                    	   where title like '%'||#{keyword}||'%'
                    	</when>
                    	<when test="searchCondition != null and searchCondition == 'W'.toString()">
                    	  where writer like '%'||#{keyword}||'%'
                    	</when>
                    	<when test="searchCondition != null and searchCondition == 'TW'.toString()">
                    	  where (title like '%'||#{keyword}||'%') or (writer like '%'||#{keyword}||'%')
                    	</when>
                    </choose>
                    order by board_no desc) a) b
              where b.rn > (#{page} - 1) * 5
        <![CDATA[	                       
        and   b.rn <= #{page} * 5  
		]]>
	</select>   <!-- CDATA를 사용해서 <를 코드시작 sign이 아닌 대소비교로! -->


	<!-- 등록(insertBoard) -->
	<insert id="insertBoard" parameterType="Board">
		insert into tbl_board (board_no, title, content, writer)
		values(board_seq.nextval, #{title}, #{content}, #{writer})  <!--#{} vo필드명과 동일하게.  
			작성해 주면됨. -->
	</insert>

	<!-- 상세조회 selectBoard -->
	<select id="selectBoard" parameterType="int" resultType="Board">
		select board_no
		       ,title
		       ,content
		       ,writer
		       ,write_date
		       ,read_cnt
	   from tbl_board 
	   where board_no = #{bno}
	</select>

	<!-- 조회수 증가 -->
	<update id = "updateReadCnt" parameterType="int">
	  update tbl_board
	  set read_cnt = read_cnt + 1
	  where board_no = #{bno}
	</update>






	<!-- 수정(updateBoard) -->
	<update id="updateBoard" parameterType="Board">
		update tbl_board
		<set>  <!--set 태그를 써주면 콤마맞춰줌. -->
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="writer != null">
				writer = #{writer}
			</if>
		</set>
		where board_no = #{boardNO}
	</update>



	<!-- 삭제(deleteBoard) parameterType = "int" -->
	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board
		where board_no = #{bno}
	</delete>



	
	
	<!-- 전체건수 -->
	<select id ="selectCount" parameterType="Search" resultType="int">
	select count(1) from tbl_board
	<choose>
	<when test="searchCondition != null and searchCondition == 'T'.toString()">
		where title like '%'||#{keyword}||'%'
	</when>
	<when test="searchCondition != null and searchCondition == 'W'.toString()">
		where writer like '%'||#{keyword}||'%'
	</when>
	<when test="searchCondition != null and searchCondition == 'TW'.toString()">
		where (title like '%'||#{keyword}||'%') or (writer like '%'||#{keyword}||'%')
	</when>
    </choose>
	</select>

</mapper>