<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">
  
  <!-- 조회(selectBoard) -->
  <select id="selectList" resultType="Board">
    select * from tbl_board
  </select>
  
  
  <!-- 등록(insertBoard) -->
  <insert id ="insertBoard" parameterType = "Board">
  insert into tbl_board (board_no, title, content, writer)
  values(board_seq.nextval, #{title}, #{content}, #{writer})  <!--#{} 컬럼명을 작성해 주면됨. -->
  </insert>
  
  
  
  <!-- 수정(updateBoard) -->
  <update id = "updateBoard" parameterType = "Board">
  	update tbl_board
  	<set>  <!--set 태그를 써주면 콤마맞춰줌. -->
  	<if test = "title != null">
  	    title = #{title}, 
  	</if>
    <if test = "content != null">
    	content = #{content},
    </if>
    <if test = "writer != null">
    	writer = #{writer}
    </if>
    </set>
  	where board_no = #{boardNO}
  </update>
  
  <!-- 삭제(deleteBoard) parameterType = "int" -->
  <delete id = "deleteBoard" parameterType = "int">
  delete from tbl_board
  where board_no = #{bno}
  </delete>
  
  
  
</mapper>